html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.search-txt {
    border: 0;
    background-color: #212529;
    margin-left: 0;
    width: 200px;
}

.navbar {
    position: relative;
    left: 0;
    right: 0;
}

.text-header {
    margin-top: 15px;
    margin-left: 5px;
}

.selectParent {
    width: 120px;
    overflow: hidden;
}

.selectParent select {
    text-indent: 1px;
    text-overflow: '';
    width: 110px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 5px;
    border: none;
    background: transparent url("/img/portfolio/dropdown.png") no-repeat 80px;
    background-color: #212529;
}

.fa {
    color: rgb(160, 160, 160);
}